on property:vendor.post_boot.parsed=1
    # Setup foreground cpuset for display composer.
    write /dev/cpuset/foreground/cpus 0-6

service vendor.qti.hardware.display.composer /vendor/bin/hw/vendor.qti.hardware.display.composer-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    socket pps stream 0660 system system
    writepid /dev/cpuset/foreground/tasks
